<!DOCTYPE html>
<html>
<head>
  <title>In a tavern</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "in_a_tavern/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
